doctype html
html(lang="en")
    head
        - var name = '来此购网上购物商城'
        title= name
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")

        script(src="./public/javascipts/require.js", data-main="./public/javascipts/addGoods.js")

        link(rel="stylesheet" type="text/css" href="semantic-ui/dist/semantic.css")
        link(rel="stylesheet" type="text/css" href="styles/main.css")
    body
        div.container
            div.ui.inverted.masthead.segment
                include ./viewModules/navBar.jade