doctype html
html(lang="en")
    head
        - var name = '来此购网上购物商城'
        title= name
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" type="text/css" href="semantic-ui/dist/semantic.css")
        link(rel="stylesheet" type="text/css" href="styles/main.css")
        script(src="jquery/dist/jquery.js")
        script(src="semantic-ui/dist/semantic.js")
    body#home
        header
            h5#logo  欢迎光临来此购网上购物商城
        div.container
<<<<<<< HEAD
            div.ui.masthead.inverted.segment
                include ./viewModules/navBar.jade
                div.row
                    div.ten.column
                        p.
                            LetUsGo商品列表
                div.center LetUsGo商品列表
                div.ui.blue.segment

                    <table class="ui compact table">
                    <thead>
                    <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Notes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>None</td>
                    </tr>
                    <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                    </tr>
                    <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>None</td>
                    </tr>
                    <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                    </tr>
                    <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>None</td>
                    </tr>
                    <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                    </tr>
                    <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>None</td>
                    </tr>
                    <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                    </tr>
                    </tbody>
                    </table>
=======
            div.ui.inverted.masthead.segment
                include ./viewModules/navBar.jade
>>>>>>> 5295e41db74b11fc9887a62546dd6d643e72ff2f
