div.row
  div.sixteen.wide.column
    div.ui.inverted.teal.menu
      div.left.menu
        a.ui.item LetUsGo
        a#homeLink.ui.link.active.item(href="/") 主页
          i.home.icon
        a.ui.link.item(href="shop") 商城
        a.ui.link.item(href="shopManagement") 商城管理
      div.right.menu
        a.ui.link.item(href="api/cartItem") 购物车
          i.cart.in.icon
