extends ./viewModule/navBar.jade
block title
  title 修改商品信息
block css
    link(rel="stylesheet" type="text/css" href="../semantic-ui/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="../styles/main.css")
    script(src="../js/require.js", data-main="../js/modifyItem")
block shop
  a.ui.link.item(href="../shop") 商城
block management
  a.ui.link.item.active(href="../shopManagement") 商城管理
block content
      div.ui.grid(class="ui grid")
        div.eight.wide.centered.column
          .ui.negative.message#emptyError(style='display: none')
            i.close.icon
            .header 请输入修改信息
          .ui.negative.message#inputError(style='display: none')
            i.close.icon
            .header 请输入正确的信息格式
          .ui.form.red.segment
            .ui.grid
              .eight.wide.centered.column
                label 商品名称:
                  div.ui.input.error
                    input#itemName(placeholder='请输入商品名称', type='text', value='#{item.name}')
              .eight.wide.centered.column
              .eight.wide.centered.column
                label 商品单位:
                  div.ui.input.error
                    input#itemUnit(placeholder='请输入商品单位', type='text', value='#{item.unit}')
              .eight.wide.centered.column
              .eight.wide.centered.column
                label 商品单价:
                  div.ui.input.error
                    input#itemPrice(placeholder='请输入商品单价', type='text', value='#{item.price}')
              .three.wide.centered.column
                a.ui.green.submit.button.save(id="#{item.id}") 保存
