<<<<<<< HEAD
extends ./viewModule/navBar.jade
block title
  title 商品管理
  script(src="js/require.js" data-main="js/shopManagement")
block management
  a.ui.link.item.active(href="shopManagement") 商城管理
block content
  div.ui.grid(class="ui grid")
    div.ten.wide.centered.column
      h1 LetUsGo商品管理列表
    div.three.column.row
      div.right.floated.column
        a.ui.orange.button(href="addItem") 增加商品
    div.eight.wide.centered.column
      table.ui.large.table
        thead
          tr
            th 名称
            th 单位
            th 单价
            th
            th
        tbody#items
          - each item in items
            tr
              td #{item.name}
              td #{item.unit}
              td #{item.price}元
              td(id="#{item._id}")
                div.ui.inverted.purple.button.modifyItem 修改
                div.ui.inverted.blue.button.deleteItem 删除
    div.ui.small.modal
      i.close.icon
      div.header 确认删除操作
      div.description
        div.ui.form.red.segment
          div.ui.centered.grid
            div.eight.wide.column
              p.large 真的要删除此条商品信息吗？
      div.actions
        div.ui.blue.button.cancelDelete 取消
        div.ui.red.button.conformDelete 确定
