extends ./viewModule/navBar.jade
block title
  title 来此购网上购物商城
  script(src="js/require.js" data-main="js/shop")
block shop
  a.ui.link.active.item(href="shop") 商城
block content
      .ui.grid.centered
        .ten.wide.column.centered
          h1 商品列表
        .eight.wide.centered.column
          table.ui.large.table
            thead
              tr
              th.four.wide 名称
              th.two.wide 单位
              th.two.wide 价格
              th.two.wide 操作
            tbody.center
              -each item in items
                tr
                  td #{item.name}
                  td #{item.unit}
                  td #{item.price}元
                  td
                    button(id='#{item.id}' class = "ui green button buy") 购买

          a.ui.red.right.floated.right.labeled.icon.button(href='/cart') 去购物车
            i.right.arrow.icon



